<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.adicom.app.beginneridea">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".currencyappwithjava.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".github.GithubActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".currencyappwithjava.CurrencyMainActivity">
        </activity>
        <activity android:name=".currencyappwithjava.HomeActivity" />
        <activity android:name=".retrofitwithdagger.RetrofitWithDaggerActivity"></activity>
        <activity android:name=".eventbus.EventBusActivity" />
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity android:name=".other_recyclerview_sample.RecyclerViewActivity" />
        <activity android:name=".dagger_training.DaggerTrainingActivity" />
        <activity android:name=".training.TrainingActivity" />
        <activity android:name=".dashboaduidesign.DashboardUiDesignActivity" />
        <activity android:name=".espresso.SomeTextActivity" />
        <activity android:name=".espresso.EspressoActivity" />
        <activity android:name=".mvvmpractice.MvvmPracticeActivity" />
        <activity android:name=".login.CollapsingToolbarActivity" />
        <activity android:name=".login.OtherLoginActivity" />
        <activity android:name=".login.IntroActivity" />
        <activity android:name=".login.ModernLoginActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".noteapp.NoteAppMainActivity" />
        <activity android:name=".mvvm_training.AddProjectActivity" />
        <activity android:name=".mvvm_training.MainTrainingActivity" />
        <activity android:name=".ModernActivity" />
        <activity android:name=".CardViewActivity" />
        <activity android:name=".shopping_list.ShoppingActivity" />
        <activity android:name=".boutique.BoutiqueActivity" />
        <activity android:name=".news.NewsActivity" />
        <activity android:name=".dagger.DaggerActivity" />
        <activity android:name=".taskappmvvm.ui.addedittask.AddEditTaskActivity" />
        <activity android:name=".taskappmvvm.ui.tasks.TasksActivity" />
        <activity android:name=".coroutine.CoroutineSampleActivity" />
        <activity android:name=".quiz.EndGameActivity" />
        <activity android:name=".quiz.SimpleQuizActivity" />
        <activity android:name=".rgb2hex.ColorToHexActivity" />
        <activity android:name=".bin2dec.Bin2DecActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>